/* assets/css/main.css */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #11141c;
}

::-webkit-scrollbar-thumb {
  background: #11141c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11141c;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;

  @apply bg-[#11141c];
}

/* Focus styles for accessibility */
button:focus-visible,
a:focus-visible {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}
